@font-face {
    font-family: 'TitilliumWeb';
    src: url('assets/fonts/titilliumweb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumWebBold';
    src: url('assets/fonts/titilliumwebbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumWebSemibold';
    src: url('assets/fonts/titilliumwebsemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Malaga';
    src: url('assets/fonts/MalagaOT-RegItalic.otf') format('opentype');
    font-style: italic;
}

.wrapper {
    width: 1800px;
    margin: 0 auto;
}

.wrap-top {
    min-height: 915px;
    background: url("assets/images/background.jpg") no-repeat top;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
}

.ff-twr {
    font-family: 'TitilliumWeb', sans-serif;
}

.ff-twb {
    font-family: 'TitilliumWebBold', sans-serif;
}

.ff-twSb {
    font-family: 'TitilliumWebSemibold', sans-serif;
}

.df {
    display: flex;
}

.di-b {
    display: inline-block;
}

.psr {
    position: relative;
}

.fl {
    float: left;
}

/*header*/
.header {
    padding-top: 5%;
    justify-content: space-between;
}

.nav-wrap {
    align-items: baseline;
}

.logo-text a {
    font-size: 30px;
    color: #858688;
}

.style-mail {
    color: #5b4295;
}

.links-language {
    margin-top: 10px;
}

.lang-item {
    font-size: 14px;
    color: #959595;
}

.menu-language li:first-child {
    font-family: 'TitilliumWebBold', sans-serif;
    text-decoration: underline;
}

.menu-language li:not(:first-child):before {
    content: "/";
    display: inline-block;
    margin: 0 8px;
    color: #959595;
}

.lang-item:hover,
.item-social:hover,
.item-list-info:hover {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    transition: .3s;
}

.nav input,
.nav label {
    display: none;
}

.menu-item {
    margin-right: 25px;
    text-align: center;
    color: #454545;
}

.menu-item:hover {
    font-weight: bold;
    color: #000;
}

.in-up {
    margin-left: 45px;
}

.btn-log-in {
    font-size: 16px;
    background: white;
    border-width: 0;
    color: #5c5c5c;
    cursor: pointer;
}

.fas {
    margin-right: 10px;
}

.fa-sign-in-alt {
    color: #582c7e;
}

.style-btn-1 {
    width: 94px;
    height: 40px;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    background: linear-gradient(to top left, #6275cb, #582c7e);
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 7px 9px 0 rgba(142, 117, 222, 0.15),
    0 13px 21px 0 rgba(20, 80, 204, 0.27),
    0 13px 21px 0 rgba(0, 0, 0, 0.15),
    0 4px 16px 0 rgba(102, 145, 233, 0.33),
    0 4px 16px 0 rgba(0, 0, 0, 0.09),
    0 3px 9px 0 rgba(53, 103, 205, 0.09),
    0 3px 9px 0 rgba(0, 0, 0, 0.09),
    0 3px 3px 0 rgba(102, 145, 233, 0.09),
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
    color: #fff;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.social-links {
    position: fixed;
    top: 310px;
    right: 2%;
    width: 25px;
    z-index: 100;
}

.fa-social-lnk {
    margin: 10px;
    font-size: 20px;
    color: #454545;
}

.fa-google-plus-square:hover {
    color: #dc5443;
}

.fa-facebook:hover {
    color: #3661a0;
}

.fa-twitter-square:hover {
    color: #2caae1;
}

/*top*/
.content-top {
    flex-direction: column;
    align-items: center;
    margin-top: 10.5%;
    font-size: 36px;
    color: #454545;
}

.title-h1 {
    font-size: 60px;
}

.sub-title-h1 {
    line-height: 40px;
}

.style-span {
    color: #fc444a;
}

.group-button {
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 125px;
    margin-top: 40px;
    background: url("assets/images/create-bg.png") no-repeat top;
    background-position-y: 55px;
    background-position-x: -15px;
}

.style-btn-2 {
    width: 246px;
    height: 56px;
    font-size: 18px;
    background: linear-gradient(to right, #646c92, #5f2966);
    border-width: 0;
    border-radius: 28px;
    box-shadow: 0 7px 9px 0 rgba(100, 115, 151, 0.15),
    0 13px 21px 0 rgba(20, 80, 204, 0.27),
    0 13px 21px 0 rgba(0, 0, 0, 0.15),
    0 4px 16px 0 rgba(102, 145, 233, 0.33),
    0 4px 16px 0 rgba(0, 0, 0, 0.09),
    0 3px 9px 0 rgba(53, 103, 205, 0.09),
    0 3px 9px 0 rgba(0, 0, 0, 0.09),
    0 3px 3px 0 rgba(102, 145, 233, 0.09),
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
    color: #fff;
    cursor: pointer;
}

.style-btn-3 {
    width: 46px;
    height: 46px;
    font-size: 20px;
    color: #fff;
    background: #4a1c50;
    border: 1px solid #4a1c50;
    border-radius: 50%;
    opacity: .8;
    cursor: pointer;
}

.create-acc {
    margin-right: 25px;
}

.apple-btn {
    margin-right: 20px;
}

/*section-1*/
.content-2 {
    max-width: 1400px;
    margin-left: 17.5%;
}

.item-1 {
    width: 367px;
    margin-right: 4.8%;
}

.item-1:before {
    content: "";
    position: absolute;
    left: 398px;
    top: -130px;
    width: 1px;
    height: 210px;
    border-right: 1px solid #b9b9b9;
}

.item-2 {
    width: 370px;
    margin-right: 5%;
}

.item-2:after {
    content: "";
    position: absolute;
    top: 1px;
    right: -27px;
    z-index: -1;
    width: 1147px;
    height: 465px;
    border-right: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}

.item-3 {
    width: 365px;
}

.item-3:before {
    content: "";
    position: absolute;
    left: 420px;
    top: 2px;
    width: 191px;
    height: 1px;
    border-top: 1px solid #b9b9b9;
}

.img-item-1 {
    width: 67px;
    height: 68px;
    background: url('assets/images/sprite.jpg') -427px -192px;
}

.img-item-2 {
    width: 68px;
    height: 74px;
    background: url('assets/images/sprite.jpg') -131px -330px;
}

.img-item-3 {
    width: 67px;
    height: 60px;
    background: url('assets/images/sprite.jpg') -430px -257px;
}

.title-h3 {
    font-size: 30px;
    line-height: 30px;
    color: #555;
}

.sub-title-h3 {
    font-size: 18px;
    color: #959393;
}

.style-text {
    margin-top: 25px;
    padding-left: 9px;
    font-size: 14px;
    color: #959393;
}

.container-ps {
    max-width: 662px;
    margin: 105px 0 0 170px;
    padding: 0 40px 25px 0;
    text-align: right;
}

.title-h2 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #535353;
}

.sub-title-h2 {
    font-size: 24px;
    line-height: 24px;
    color: #959393;
}

.info-link {
    width: 334px;
    height: 62px;
    margin-left: 47%;
    padding: 15px;
    z-index: 5;
    text-align: center;
    color: #676767;
    background: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 40px;
    cursor: pointer;
}

.info-link:hover {
    background: #b9b9b9;
    color: #fff;
    transition: .3s;
}

/*section-2*/
.wrap-section-2 {
    background: url("assets/images/blog-bg.png") no-repeat;
    background-position-y: 224px;
}

.items-brands {
    margin: 37px 0 0 10px;
}

.item-brn-2 {
    transform: translateX(-3px);
}

.item-brn-3 {
    transform: translateX(-7px);
}

.item-brn-4 {
    transform: translateX(-11px);
}

.item-brn-5 {
    transform: translateX(-15px);
}

.item-brn-6 {
    transform: translateX(-19px);
}

.wrapper-quote {
    margin: 53px 0 5px 22.3%;
    width: 550px;
    height: 150px;
}
.slider {
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.slides {
    position: absolute;
    width: inherit;
    height: inherit;
}

.wrapper-quote > input {
    -webkit-appearance: none;
    display: none;
}

.wrapper-quote .controls {
    position: absolute;
    left: -54px;
    bottom: 83px;
}

.wrapper-quote label {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    margin: 11px 12px 0 16px;
    background: #b7b7b7;
    border-radius: 50%;
    transition: background ease-in-out .5s;
    cursor: pointer;
}

.wrapper-quote label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    z-index: 5;
    transform: scale(1.2);
    background: #000;
}

.slides {
    position: absolute;
    z-index: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    transform: scale(1.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
    z-index: 1;
    transform: scale(1);
    opacity: 1;
}

.style-quote {
    font-family: 'Malaga', cursive;
    font-size: 24px;
    line-height: 32px;
    color: #101010;
}

.style-author-quote {
    font-size: 16px;
    color: #727272;
}

.item1-s2 {
    flex-direction: column;
    width: 440px;
    min-height: 205px;
    margin: 110px 0 220px 37.05%;
}

.item1-s2:before {
    content: "";
    position: absolute;
    top: -275px;
    left: 285px;
    width: 578px;
    height: 670px;
    background: url("assets/images/devices.png");
}

.title-h3-s2 {
    font-size: 36px;
    text-align: right;
    color: #535353;
}

.style-text-s2 {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: right;
    color: #959393;
}

.btn-s2 {
    width: 180px;
    height: 55px;
    border-width: 0;
    border-radius: 5px;
}

.style-btn-4 {
    margin-right: 9px;
    background: url("assets/images/appStore.jpeg") no-repeat;
    cursor: pointer;
}

.style-btn-5 {
    background: url("assets/images/googlePlay.jpeg") no-repeat;
    cursor: pointer;
}

.btn-s2-df {
    align-self: flex-end;
    z-index: 10;
}

.item2-s2 {
    width: 1000px;
    height: 520px;
    margin: 0 auto;
}

.privacy {
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.privacy:before {
    content: "";
    position: absolute;
    top: -65px;
    left: 0;
    z-index: -5;
    width: 1400px;
    height: 1px;
    border-top: 1px solid #b9b9b9;
}

.text-item2-s2 {
    margin-bottom: 41px;
    font-size: 29px;
    line-height: 29px;
    color: #7c7c7c;
}

.style-btn-6 {
    width: 166px;
    height: 56px;
    margin-left: 45px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to right, #35bbe0, #5e7bea);
    border-width: 0;
    border-radius: 28px;
    box-shadow: 0 7px 9px 0 rgba(26, 230, 218, 0.15),
    0 13px 21px 0 rgba(26, 230, 218, 0.27),
    0 13px 21px 0 rgba(0, 0, 0, 0.15),
    0 4px 16px 0 rgba(26, 230, 218, 0.33),
    0 4px 16px 0 rgba(0, 0, 0, 0.09),
    0 3px 9px 0 rgba(26, 230, 218, 0.09),
    0 3px 9px 0 rgba(0, 0, 0, 0.09),
    0 3px 3px 0 rgba(26, 230, 218, 0.09),
    0 3px 3px 0 rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.text-prt {
    padding-right: 25px;
    font-size: 14px;
    color: #7a7a7a;
}

.wrap-prt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 80px;
}

.wrap-prt:before {
    content: "";
    position: absolute;
    top: -18px;
    width: 1400px;
    border-top: 1px solid #b9b9b9;
}

.item-prt-1 {
    transform: translateX(48px);
}

.item-prt-2 {
    transform: translate(44px, -1px);
}

.item-prt-3 {
    transform: translateX(40px);
}

.item-prt-4 {
    transform: translateX(36px);
}

.item-prt-5 {
    transform: translateX(32px);
}

.item-prt-6 {
    transform: translateX(28px);
}

.item-prt-7 {
    transform: translateX(24px);
}

/*footer*/
.footer {
    margin: 30px 0 0 11.11%;
    width: 1200px;
}

.footer-middle {
    justify-content: space-between;
    padding: 0 25px 0 20px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 23px;
    color: #5c5c5c;
}

.wrap-fm2 {
    flex-direction: row;
}

.item-list-info {
    color: #5c5c5c;
}

.info-mail:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -20px;
    height: 131px;
    border-left: 1px solid #b9b9b9;
}

.info-mail li:last-child:before {
    content: "";
    position: absolute;
    top: 18px;
    width: 160px;
    border-bottom: 2px solid #cfcfd1;
}

.style-link-foo:hover {
    color: #323232;
}

.for-margin {
    margin-top: 25px;
}

.list-info {
    text-align: right;
}

.item2-fm2 {
    margin-left: 115px;
}

.item2-fm2:before {
    content: "";
    position: absolute;
    top: 2px;
    left: -89px;
    height: 315px;
    border-left: 1px solid #b9b9b9;
}

.item3-fm2 {
    margin-left: 95px;
}

.item3-fm2:before {
    content: "";
    position: absolute;
    top: -288px;
    left: 133px;
    height: 440px;
    border-right: 1px solid #b9b9b9;
}

.list-info li:first-child {
    font-size: 18px;
}

.list-info li:not(:first-child):after {
    content: "▪";
    margin-left: 10px;
}

.list-info li:first-child {
    margin-bottom: 28px;
}

.style-link-foo {
    color: #5c5c5c;
}

.item-social {
    text-decoration: underline;
    color: #5c5c5c;
}

.menu-social-links li:not(:first-child):before {
    content: "/";
    margin: 0 10px;
    color: #5c5c5c;
}

.footer-bottom {
    margin: 75px 0 30px 0;
    font-size: 12px;
    color: #5c5c5c;
}

.menu-social-links {
    margin-bottom: 15px;
}
